@model ShopApplication.Models.GroupModel
@{
    ViewData["Title"] = "GetGroup";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
</head>
<body>
    <form asp-controller="Group" asp-action="Put" method="post">
        <input type="hidden" name="GroupId" value="@Model.GroupId" />
        <label>Code Number</label>
        <br />
        <input type="number" id="GroupCode" name="GroupCode" value="@Model.GroupCode" />
        <br />
        <label>Name</label>
        <br />
        <input type="text" id="GroupName" name="GroupName" value="@Model.GroupName" />
        <br />
        <label>Selest color</label>
        <br />
        @Html.DropDownListFor(m => m.GroupColor, new SelectList(new List<string> {}), "- Please select -", new { @class = "form-control" })
        <br />
        <button><a class="nav-link text-dark" asp-area="" asp-controller="Group" asp-action="Index">Cancel</a></button>
        <button type="submit">Save</button>
    </form>
</body>
</html>


