@model IEnumerable<ShopApplication.Models.ProductModel>
@{
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <div>
        <button>
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Add">Add</a>
        </button>
        <button>Edit</button>
        <button><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Close</a></button>

        <table>
            <tr>
                <th>Pruduct id</th>
                <th>Product code</th>
                <th>Product name</th>
            </tr>
            @foreach (var g in Model)
            {
                <tr style="background-color: @g.ProductColor">
                    <th>@g.ProductId</th>
                    <th>@g.CodeProduct</th>
                    <th>@g.ProductName</th>
                </tr>
            }
        </table>
    </div>
</body>
</html>

